<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <h1>NguyenNT Exercise</h1>
        <ul>
            {% for message in app.flashes('notice') %}
                <li class="flash-notice">
                    {{ message }}
                </li>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <li class="flash-error">
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
        {{ form_errors(form) }}
        {{ form_start(form) }}
            {{ form_widget(form) }}
        {{ form_end(form) }}
        {% endblock %}
    </body>
</html>
